<!doctype html>
<html class="{{ block `html-class` . }}{{ end }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{- block "title" . -}} {{ .Title }} • Gmail Signature Tool {{- end -}}
    </title>
    <link rel="stylesheet" href="/style.css" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <meta property="og:site_name" content="Spotlight PA" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ .Title }}" />
    {{ block "extra-head" . }}{{ end }}
  </head>
  <body
    class="{{ block `body-class` . }}bg-gear p-2 min-h-screen flex justify-center font-mono{{ end }}"
  >
    {{ block "body" . }}
    {{ end }}
    {{ block "extra-footer" . }}{{ end }}
  </body>
</html>
