{{ define "body" }}
<div class="my-8 w-full bg-white max-w-screen-md font-sans rounded shadow p-4">
  <h2 class="text-2xl text-slate-500 font-bold">Gmail Signature</h2>
  {{ with .Signature }}
    <h2 class="mt-4 text-xl font-bold">Current Signature</h2>
    <div class="mt-2">
      <iframe class="border border-black w-[475px] h-[300px] shadow" srcdoc="{{ . }}"></iframe>
    </div>
  {{ end }}
  <h2 class="mt-4 text-xl font-bold">Update Signature</h2>
  <div class="mt-2">
    <button
      class="px-4 py-2 appearance-none shadow hover:shadow-lg rounded bg-[#009edb] hover:bg-[#0cb4eb] focus:outline-none focus:ring-2 focus:ring-black focus:ring-opacity-50 text-white uppercase tracking-wider"
      type="button"
    >
      Set signature
    </button>
  </div>
  <form class="mt-8" action="/app/logout" method="post">
    <button
      class="px-4 py-2 appearance-none shadow hover:shadow-lg rounded bg-[#f00] hover:bg-[#d70000] focus:outline-none focus:ring-2 focus:ring-black focus:ring-opacity-50 text-white uppercase tracking-wider"
    >
      Log out
    </button>
  </form>
</div>
{{ end }}
