{{ define "body" }}
<div class="my-8 w-full bg-white max-w-screen-md font-sans rounded shadow p-4">
  <h1 class="text-xl font-bold">Current Signature</h1>
  <div class="mt-8 flex gap-8">
    <textarea class="font-mono">
      {{ .Signature }}
    </textarea>
    <iframe srcdoc="{{ .Signature }}"></iframe>
  </div>
  <form class="mt-8" action="/app/logout" method="post">
    <button
      class="px-4 py-2 appearance-none shadow hover:shadow-lg rounded bg-[#009edb] hover:bg-[#0cb4eb] focus:outline-none focus:ring-2 focus:ring-black focus:ring-opacity-50 text-white uppercase tracking-wider"
    >
      Log out
    </button>
  </form>
</div>
{{ end }}
